# Day 1

Having looked at the data, a quick and easy way to read it in this time will be treating it as a delimited file with '   ' as the delimiter, and using pandas read_csv.

In [9]:
import pandas as pd

In [ ]:
data_path = "data/Day_1_input.txt"

In [12]:
data = pd.read_csv(data_path, sep="   ", header=None, names=['list_1', 'list_2'])

C:\Users\adrian.pritchard\AppData\Local\Temp\ipykernel_3904\4265293538.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(data_path, sep="   ", header=None, names=['list_1', 'list_2'])

In [13]:
data

     list_1  list_2
0     56208   95668
1     52621   74203
2     95252   33335
3     79799   26047
4     88005   37435
..      ...     ...
995   53455   38875
996   66703   40727
997   76244   92842
998   87526   49664
999   92147   87526

[1000 rows x 2 columns]

## Part 1

Part 1 requires both lists of numbers to be sorted in ascending order, then the modulus of the difference between the each element from the lists calculated. The answer is then the sum of those differences.

In [25]:
# Need to sort each list, use ignore_index = True to allow element wise subtraction to work
l1_sorted = data['list_1'].sort_values(ignore_index=True)
l2_sorted = data['list_2'].sort_values(ignore_index=True)

In [29]:
sum(abs(l1_sorted - l2_sorted))

2285373

## Part 2

In part 2 we have to find how many times each element from the first list appears in the second, then find the product of each element with its number of occurences. The answer is then the sum of these products.

In [33]:
# Turn each into a list so we can use some list comprehension to complete the puzzle
l1 = list(l1_sorted)
l2 = list(l2_sorted)

In [40]:
# Count the occurences, create a new list containing [value, occurences in list 2] for each element of list 1
num_count = [[x,l2.count(x)] for x in l1]

In [41]:
# List comprehension to multiply the pairs of numbers together, then sum
sum([x*y for x,y in num_count])

21142653